html,body,#container{
    width:100%;
    height:100%;
    overflow: hidden;
}
#container{
    position: relative;

}
.header{
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #5c84b0;
    margin-bottom: 5px;
}
.pop{
    display: none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#b6b6b6;
    /*-khtml-opacity:0.6;*/
    /*-moz-opacity:0.6;filter:alpha(opacity=60);*/
    /*filter:"alpha(opacity=60)";*/
    /*opacity:0.6; */
    /*filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);*/
    background:rgba(150,150,150,0.6);
}

#eChart{
    width:100%;
    height:360px;
}
.pop {
    font-size: 14px;
    padding-bottom:10px;
}
.pop .pop-context{
    position: absolute;
    left:100px;
    right:100px;
    top:60px;
    bottom:80px;
    background:#fff;
    overflow: auto;
}
.pop .pop-title{
    position: relative;
    height: 30px;
    color: #142f75;
    background: #f3e0c1;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.pop .pop-title .close{
    position: absolute;
    color:#fff;
    font-size:28px;
    top:0;
    right:10px;
    font-weight: normal;
}
.pop .list li{
    font-size: 14px;
    position: relative;
}
.pop .list p{
    padding-bottom:5px;
}
.pop .list .left{
    position: absolute;
    width:80px;
    top:0;
    bottom:0;
    background:#c1ddf3;
}
.pop .list li:nth-child(even) .left{

    background:#e9f3c1;
}
.pop .list .left span{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.pop .list .right{
    padding:5px 10px 0;
    margin-left:80px;
    background:#e7f2fa;
}
.pop .list li:nth-child(even) .right{
    background:#f6fae7;
}

.pop .search{
    position: relative;
    width:202px;
    text-align: left;
}
.pop .search input{
    height:22px;
    width:150px;
    margin-left:20px;
    border-radius: 5px;
    padding:0 26px 0 5px;
}
.pop .search .search-icon{
    position: absolute;
    top: 5px;
    right: 7px;
    width: 18px;
    height: 17px;
}
.pop .search .search-icon img{
    width:100%;
    height:100%;
}
.pop .checked-target{
    margin-top:10px;
    margin-bottom:10px;
    font-weight: bold;

}
.pop .checked-target div{
    float:left;
    padding-top: 6px;
    width:76px;
    margin-left:20px;
}
.pop .checked-target ul{
    margin-left:98px;
}
.pop .checked-target li{
    float:left;
    margin-right:20px;
}
.pop .checked-target a{
    display: inline-block;
    width: 80px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 8px;
    background: #f3e0c1;
    color:#269056;


}
.pop .checked-target a.active{
    background:#ffc76c;

}
.pop .checked-target span{
    display: inline-block;
    cursor: pointer;
    border:1px solid #656565;
    padding:0 2px;
    color:#656565;
    margin-left:10px;
}
.pop .read-target{
    padding:10px;
    margin:0 20px 10px;
    background:#ff9595;
}
.pop .read-target li{
    float: left;
    width:150px;
    margin-bottom:10px;
    color:#756488;
}
.pop .read-target li span{
    display:inline-block;
    cursor: pointer;
    margin-left:10px;
    padding:0 2px;
    color:#fff;
    border:1px solid #fff;
}
.pop .read-target button{
    display: block;
    width: 80px;
    height: 26px;
    background: #ffcaca;
    color: #bd763e;
    margin: 0 auto;
}
.pop .unchecked-target{
    margin:0 20px;
    font-weight: bold;
}
.pop .unchecked-target p{
    margin-bottom:10px;
}
.pop .unchecked-target ul{
    background:#d0e8f0;
}
.pop .unchecked-target li{
    float:left;
}
.pop .unchecked-target .tab li{
    background:#fff;
    border:1px solid #9a9a9a;
    height:28px;
    color:#666;
    line-height: 28px;
    text-align: center;
    width:160px;
}
.pop .unchecked-target .tab li.active{
    color:#e55859;
    background: linear-gradient(#f4f5f5,#c7d0dc)
}
.pop .unchecked-target .tab-list{
    display: none;
    padding-top:10px;

}
.pop .unchecked-target .tab-list li{
    margin:0 10px 10px;
    width:100px;
    color:#1f4f83;
    overflow: hidden;
}
.pop .nav {
    margin: 0 20px 10px;
}
.pop .nav li{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.pop .nav li a {
    display: inline-block;
    width: 80px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 8px;
    background: #f3e0c1;
    color: #269056;
}
.pop .nav li span {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #656565;
    padding: 0 2px;
    color: #656565;
    margin-left: 10px;
}
.pop .nav li a.active {
    background: #ffc76c;
}
.pop .checked-con {
    margin: 0 20px;
    padding-bottom: 10px;
}
.pop .checked-con .checked ul {
    padding-top: 10px;
}

.pop .checked-con .checked {
    padding-bottom: 10px;
}
.pop .checked-con .checked .right {
    float: right;
    width: 49%;
}
.pop .checked-con .checked .left {
    width: 49%;
    background: #ff9595;
    padding-bottom: 10px;
}
.pop .checked-con .checked .left input[type=button] {
    display: block;
    width: 80px;
    height: 26px;
    background: #ffcaca;
    color: #bd763e;
    margin: 0 auto;
}
.pop .checked-con .checked p {
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    background: #ffe3e3;
}
.pop .checked-con .checked .right p {
    background: #d0e8f0;
}
.pop .checked-con .checked .right ul {
    background: #83c1d6;
}
.pop .checked-con .checked ul li {
    padding: 5px 0;
    font-weight: 700;
    cursor: pointer;
    color: #515a85;
    text-align: center;
}